{
  "presets": [
    ['@babel/preset-env'],
    ["env","stage-0"],
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    ['@babel/plugin-transform-tuntime'],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],

  ]
}