body {
    background-color: rgb(240,242,245);
}
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
.el-table__header{
    width: 100% !important;
}
.el-table__body{
    width: 100% !important;
}
.chart-panel .form-label-group {
    margin: 20px 0;
}
.business-line .el-dialog {
    min-width: 600px;
}